@{
    ViewBag.Title = "Index";
}
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1 class="b_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></h1>
                </div><!--close col-->
            </div><!--close row-->


        </div><!--close container-->
    </div><!--close slider-->

    <div class="section">
        <div class="sec-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2 style="font-weight:bold; color:#00385c;">User Profile</h2>
                      @foreach (var item in ViewBag.usr)
                            {
                        <form style="border:2px solid #00385c; padding:20px" method="post">
                            <fieldset>
                                <legend style="border-bottom:1px solid #00385c">General Information 
                                    <span id="open_f" style="font-size:20px; padding:5px" class="pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></legend>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">Username</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">@item.username</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">ICQ/YIM</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static op">@item.icq_yim</p>
                                        <input name="icq" class="form-control op" style="display:none" value="@item.icq_yim" />

                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">Email</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">@item.email</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">Registration Date</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static">@item.date</p>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend style="border-bottom:1px solid #00385c">Change Password</legend>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">Old Password</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static op">@item.userpass</p>
                                        <input name="userpass" class="form-control op" style="display:none" value="@item.userpass" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">New Password</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static op">@item.userpass</p>
                                        <input name="userpass" class="form-control op" style="display:none" value="@item.userpass" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-6 control-label">Verify Password</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static op">@item.userpass</p>
                                        <input name="userpass" class="form-control op" style="display:none" value="@item.userpass" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input class="pull-right" type="submit" name="submit_p" style="width:25%; height:50px; background-color: #00385c; display:none; color: #fff; outline: none" value="Submit Profile" />
                                        <input type="submit" name="submit_p" value="Save Changes" class="btn btn-info op" style="display:none" />
                                    </div>
                                </div>
                            </fieldset>


                        </form>
                      }

                    </div>
                </div>

       
            </div>
        </div>
    </div>





    
    
<script>
    $(document).ready(function () {
        $.noConflict();
    $('#Bank_table').DataTable();
} );
$('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
});

jQuery('span#open_f').click(function () {
    jQuery('.op').toggle()
})
</script>
