@{
    ViewBag.Title = "Accounts";
}


    <script type="text/javascript">
        


        $(document).ready(function () {

            $('#Bank_table').DataTable();
        });
        $(document).ready(function () {
            $('#Shipping_table').DataTable();
        });
        
        $(document).ready(function () {
            $('#Dating_table').DataTable();
        });
        
        $(document).ready(function () {
            $('#Craiglist_table').DataTable();
        });
        

   

        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

    </script>

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="b_icon"><i class="fa fa-university" aria-hidden="true"></i></h1>
            </div><!--close col-->
        </div><!--close row-->

        <div class="sld-inner">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#Bank" aria-controls="Bank" role="tab" data-toggle="tab">
                                    <label style="background-color:red" class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-money"></i></span>Bank Accounts
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#Dating" aria-controls="Dating" role="tab" data-toggle="tab">
                                    <label style="background-color:red" class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-sitemap"></i></span>Dating Sites
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#Shipping" aria-controls="Shipping" role="tab" data-toggle="tab">
                                    <label style="background-color:red" class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-ship"></i></span>Shipping Accounts
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#Craiglist" aria-controls="Craiglist" role="tab" data-toggle="tab">
                                    <label style="background-color:red" class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-list-alt"></i></span>Craiglist Accounts
                                </a>
                            </li>





                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane" id="profile">456</div>
                            <div role="tabpanel" class="tab-pane" id="messages">789</div>
                            <div role="tabpanel" class="tab-pane" id="settings">111</div>
                        </div>

                    </div>
                </div><!--close col-->




            </div><!--close row-->
        </div><!--close sld-inner-->

    </div><!--close container-->
</div><!--close slider-->


    <div class="section">
        <div class="sec-2">
            <div class="container">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Bank">
                        <div class="col-md-12 col-sm-12">
                            <p style="font-size:18px; color:#00385c; font-weight:bold">Bank Accounts</p>
                            <table id="Bank_table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Country</th>
                                        <th>User Name</th>
                                        <th>User Pass</th>
                                        <th>Email	</th>
                                        <th>Password</th>
                                        <th>Balance</th>
                                        <th>Account Number</th>

                                        <th>Routine Number</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Bank Name</th>
                                        <th>Country</th>
                                        <th>User Name</th>
                                        <th>User Pass</th>
                                        <th>Email	</th>
                                        <th>Password</th>
                                        <th>Balance</th>
                                        <th>Account Number</th>
                                        <th>Routine Number</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in ViewBag.bank)
                                    {
                                        <tr>
                                            <td>@item.bank_name</td>
                                            <td>@item.country</td>
                                            <td>@item.username</td>
                                            <td>@item.userpass</td>
                                            <td>@item.email</td>
                                            <td>@item.pass</td>
                                            <td>@item.balance</td>
                                            <td>@item.account_number</td>
                                            <td>@item.routine_number</td>
                                            <td>@item.price</td>
                                            <td>
                                                <button type="button" class="btn btn-success">BUY</button>
                                                @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="Shipping">
                        <div class="col-md-12 col-sm-12">
                            <p style="font-size:18px; color:#00385c; font-weight:bold">Shipping Accounts</p>
                            <table id="Shipping_table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Additional Info</th>
                                        <th>Account Status</th>
                                        <th>User Name</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Additional Info</th>
                                        <th>Account Status</th>
                                        <th>User Name</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>

                                </tfoot>
                                <tbody>
                                    @foreach (var item in ViewBag.ship)
                                    {

                                        <tr>
                                            <td>@item.product_name</td>
                                            <td>@item.country</td>
                                            <td>@item.additional_info</td>
                                            <td>@item.account_status</td>
                                            <td>@item.username  </td>
                                            <td>@item.pass</td>
                                            <td>@item.price</td>

                                            <td>
                                                <button type="button" class="btn btn-success">BUY</button>
                                                @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                  

                    <div role="tabpanel" class="tab-pane " id="Dating">
                        <div class="col-md-12 col-sm-12">
                            <p style="font-size:18px; color:#00385c; font-weight:bold">Dating Sites</p>
                            <table id="Dating_table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Sex</th>
                                        <th>Subscription</th>
                                        <th>Age</th>
                                        <th>Additional Info</th>
                                        <th>User Name</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Sex</th>
                                        <th>Subscription</th>
                                        <th>Age</th>
                                        <th>Additional Info</th>
                                        <th>User Name</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in ViewBag.date)
                                    {
                                        <tr>
                                            <td>@item.product_name</td>
                                            <td>@item.country</td>
                                            <td>@item.sex</td>
                                            <td>@item.subscription</td>
                                            <td>@item.age</td>
                                            <td>@item.additional_info</td>
                                            <td>@item.username</td>
                                            <td>@item.pass</td>
                                            <td>@item.price</td>

                                            <td>
                                                <button type="button" class="btn btn-success">BUY</button>
                                                @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                   
                    <div role="tabpanel" class="tab-pane " id="Craiglist">
                        <div class="col-md-12 col-sm-12">
                            <p style="font-size:18px; color:#00385c; font-weight:bold">Craiglist Accounts</p>
                            <table id="Craiglist_table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                        <th>User Name	</th>
                                        <th>User Pass</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Country</th>
                                        <th>Details</th>
                                        <th>Status</th>
                                        <th>User Name	</th>
                                        <th>User Pass</th>
                                        <th>Email</th>
                                        <th>Password</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var items in ViewBag.crg)
                                    {
                                        <tr>
                                            <td>@items.product_name</td>
                                            <td>@items.country</td>
                                            <td>@items.details</td>
                                            <td>@items.status</td>
                                            <td>@items.username</td>
                                            <td>@items.userpass</td>
                                            <td>@items.email</td>
                                            <td>@items.pass</td>
                                            <td>@items.price</td>

                                            <td>
                                                <button type="button" class="btn btn-success">BUY</button>
                                                @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    
                </div>




            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Select</h4>
                </div>
                <div class="modal-body">
                    <a href="@Url.Action("personal_chk","Snd_Check")"><input type="submit" style="width:100%; height:50px; background-color: #00385c; color: #fff; outline: none" value="Personal Check" /></a>
                    <a href="@Url.Action("company_chk","Snd_Check")"><input type="submit" style="width:100%; height:50px; background-color: #00385c; color: #fff; margin-top:10px; outline: none" value="Company Check" /></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
