@{
    ViewBag.Title = "Transfers";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#Bank-t_table').DataTable();
    });
    $(document).ready(function () {
        $('#Credit_table').DataTable();
    });
    $(document).ready(function () {
        $('#Paypal_table').DataTable();
    });
    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

</script>
<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="b_icon"><i class="fa fa-exchange" aria-hidden="true"></i></h1>
            </div><!--close col-->
        </div><!--close row-->

        <div class="sld-inner">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#Bank-t" aria-controls="Bank-t" role="tab" data-toggle="tab">
                                    <label style="background-color:red" class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-money"></i></span>Bank Transfer
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#Credit" aria-controls="Credit" role="tab" data-toggle="tab">
                                    <label class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-credit-card"></i></span>Credit Card Top Up
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#Paypal" aria-controls="Paypal" role="tab" data-toggle="tab">
                                    <label class="lab">0</label>
                                    <span style="padding:5px; padding-right:10px"><i class="fa fa-money"></i></span>Paypal Transfer
                                </a>
                            </li>



                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane" id="profile">456</div>
                            <div role="tabpanel" class="tab-pane" id="messages">789</div>
                            <div role="tabpanel" class="tab-pane" id="settings">111</div>
                        </div>

                    </div>
                </div><!--close col-->




            </div><!--close row-->
        </div><!--close sld-inner-->

    </div><!--close container-->
</div><!--close slider-->
<div class="section">
    <div class="sec-2">
        <div class="container">

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="Bank-t">
                    <div class="col-md-12 col-sm-12">
                        <p style="font-size:18px; color:#00385c; font-weight:bold">Bank Transfer</p>
                        <table id="Bank-t_table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Transfer Type</th>

                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Transfer Type</th>

                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var items in ViewBag.bt)
                                    {
                                    <tr>
                                        <td>@items.bank_name</td>
                                        <td>@items.amount</td>
                                        <td>@items.price</td>
                                        <td>
                                            <button type="button" class="btn btn-success">BUY</button>
                                            @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                        </td>
                                    </tr>

                                    }











                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="Credit">
                    <div class="col-md-12 col-sm-12">
                        <p style="font-size:18px; color:#00385c; font-weight:bold">Credit Card Top Up Transfers</p>
                        <table id="Credit_table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Transfer Type</th>
                                    
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Transfer Type</th>
                                    
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var items in ViewBag.cc)
                                    {
                                    <tr>
                                        <td>@items.holder_name</td>
                                        
                                        <td>@items.amount</td>
                                        <td>@items.price</td>

                                        <td>
                                            <button type="button" class="btn btn-success">BUY</button>
                                            @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                        </td>
                                    </tr>
                                    }












                            </tbody>
                        </table>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane " id="Paypal">
                    <div class="col-md-12 col-sm-12">
                        <p style="font-size:18px; color:#00385c; font-weight:bold">Paypal Transfer</p>
                        <table id="Paypal_table" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Transfer Type</th>
                                    
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>

                                    <th>Transfer Type</th>
                                   
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Action</th>
                            </tfoot>
                            <tbody>
                                @foreach (var items in ViewBag.pay)
                                    {
                                    <tr>
                                        <td>@items.paypal_name</td>
                                        
                                        <td>@items.amount</td>
                                        <td>@items.price</td>

                                        <td>
                                            <button type="button" class="btn btn-success">BUY</button>
                                            @*<button type="button" class="btn btn-danger">NO CHECK!</button>*@
                                        </td>
                                    </tr>
                                    }












                            </tbody>
                        </table>
                    </div>
                </div>


















            </div>




        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please Select</h4>
            </div>
            <div class="modal-body">
                <a href="@Url.Action("personal_chk","Snd_Check")"><input type="submit" style="width:100%; height:50px; background-color: #00385c; color: #fff; outline: none" value="Personal Check" /></a>
                <a href="@Url.Action("company_chk","Snd_Check")"><input type="submit" style="width:100%; height:50px; background-color: #00385c; color: #fff; margin-top:10px; outline: none" value="Company Check" /></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>